<%= flash[:success] if flash[:success] %>
<br>
<br>
<% @representatives_sorted.each do |representative| %>
  <span class="name">Name: <%= representative["name"] %></span><br>
  <span class="role">Role: <%= representative["role"] %></span><br>
  <span class="party">Party: <%= representative["party"] %></span><br>
  <span class="district">District: <%= representative["district"] %></span><br>
  <br>
<% end %>
